.App {
  text-align: center;
}
.container-fluid{
  padding: 10px;
}
.container{
  text-align: center;
  justify-content: center;
  margin-left: 4%;


}
.row-items{
  text-align: center;
  display: flex;

  flex-wrap: wrap;

}
.next-btn{
  padding: 10px;
  margin: 10px;
}
.btn1{
  padding:10px
}
.btn2{
  padding:10px
}


.spinner{
  width: 82vw;
  display: flex;
  justify-content: center;
}

.navbar-nav{
  justify-content: space-between;
}